---
import IconMoon from '../icons/IconMoon.astro';
---

<header class='flex items-center justify-between self-stretch'>
  <div class='text-[26px] font-bold text-light-black'>devfinder</div>
  <button class='flex-start flex gap-4 text-light-stone'>
    <div class='text-right text-[13px] font-bold leading-[normal] tracking-[2.5px]'>DARK</div>
    <IconMoon />
  </button>
</header>
