---
import IconMoon from '../icons/IconMoon.astro';
---

<header class='flex items-center justify-between self-stretch'>
  <a class='text-[26px] font-bold leading-[normal] text-light-black' href='/'>devfinder</a>
  <button
    id='toggle'
    class='flex-start flex cursor-pointer gap-4 text-light-stone hover:text-light-black'
  >
    <div class='text-right text-[13px] font-bold leading-[normal] tracking-[2.5px]'>DARK</div>
    <IconMoon />
  </button>
</header>
