<div class='flex flex-col items-start gap-8 self-stretch md:gap-6 2xl:gap-5'>
  <div class='flex items-center gap-5 self-stretch md:gap-10'>
    <img
      id='avatar_img'
      src='https://avatars.githubusercontent.com/u/9919?v=4'
      alt='profile-picture'
      class='flex h-[70px] w-[70px] rounded-full md:h-[117px] md:w-[117px] 2xl:hidden'
    />
    <div
      class='flex flex-1 flex-col items-start justify-center gap-1.5 md:gap-1 2xl:flex-row 2xl:gap-2 2xl:self-stretch'
    >
      <div class='flex flex-col items-start self-stretch 2xl:flex-1'>
        <div
          id='name'
          class='self-stretch text-base font-bold leading-[normal] text-light-black md:text-[26px] dark:text-dark-white'
        >
          GitHub
        </div>
        <div
          class='self-stretch text-[13px] leading-[normal] text-primary md:text-base'
          id='userName'
        >
          @github
        </div>
      </div>
      <div
        class='self-stretch text-[13px] leading-[normal] text-light-stone md:text-[15px] 2xl:py-2 dark:text-dark-white'
        id='joined'
      >
        Joined 29 Jan 2008
      </div>
    </div>
  </div>
  <p
    id='bio'
    class='flex-1 items-center justify-center gap-2.5 self-stretch text-left text-[13px] leading-[25px] text-light-stone md:text-[15px] dark:text-dark-white'
  >
    How people build software.
  </p>
</div>
