<div class='flex flex-col items-start gap-8 self-stretch md:gap-6'>
  <div class='flex items-center gap-5 self-stretch md:gap-10'>
    <img
      src='/delete-this.png'
      alt='profile-picture'
      class='h-[70px] w-[70px] rounded-full md:h-[117px] md:w-[117px]'
    />
    <div class='flex flex-1 flex-col items-start justify-center gap-1.5 md:gap-1'>
      <div class='flex flex-col items-start self-stretch'>
        <div
          class='self-stretch text-base font-bold leading-[normal] text-light-black md:text-[26px]'
        >
          The Octocat
        </div>
        <div class='self-stretch text-[13px] leading-[normal] text-primary md:text-base'>
          @octocat
        </div>
      </div>
      <div class='self-stretch text-[13px] leading-[normal] text-light-stone md:text-[15px]'>
        Joined 25 Jan 2011
      </div>
    </div>
  </div>
  <p
    class='flex flex-1 items-center justify-center gap-2.5 self-stretch text-[13px] leading-[25px] text-light-stone md:text-[15px]'
  >
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
    eros.
  </p>
</div>
