<div class='flex flex-col items-start gap-8 self-stretch'>
  <div class='flex items-center gap-5 self-stretch'>
    <img src='/delete-this.png' alt='profile-picture' class='h-[70px] w-[70px] rounded-full' />
    <div class='flex flex-1 flex-col items-start justify-center gap-1.5'>
      <div class='flex flex-col items-start self-stretch'>
        <div class='self-stretch font-bold leading-[normal] text-light-black'>The Octocat</div>
        <div class='self-stretch text-[13px] leading-[normal] text-primary'>@octocat</div>
      </div>
      <div class='self-stretch text-[13px] leading-[normal] text-light-stone'>
        Joined 25 Jan 2011
      </div>
    </div>
  </div>
  <p
    class='flex flex-1 items-center justify-center gap-2.5 self-stretch text-[13px] leading-[25px] text-light-stone'
  >
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
    eros.
  </p>
</div>
