<div>
  <div>
    <img src='/delete-this.png' alt='profile-picture' />
    <div>
      <div>
        <div>The Octocat</div>
        <div>@octocat</div>
      </div>
      <div>Joined 25 Jan 2011</div>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
    eros.
  </p>
</div>
