---
import IconSearch from '../icons/IconSearch.astro';
import Button from './Button.astro';
---

<div>
  <IconSearch />
  <input type='text' placeholder='Searcg GitHub username...' />
  <Button />
</div>
