---
import IconCompany from '../icons/IconCompany.astro';
import IconLocation from '../icons/IconLocation.astro';
import IconTwitter from '../icons/IconTwitter.astro';
import IconWebsite from '../icons/IconWebsite.astro';
import Social from './Social.astro';
---

<div
  class='flex flex-col items-start gap-4 self-stretch md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-5'
>
  <Social
    value='San Francisco'
    gridPosition='md:col-start-1 md:col-end-2 md:row-start-1 md:row-end-2'
  >
    <IconLocation />
  </Social>
  <Social
    value='https://github.blog'
    to='https://github.blog'
    gridPosition='md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3'
  >
    <IconWebsite />
  </Social>
  <Social value='' gridPosition='md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-2'>
    <IconTwitter />
  </Social>
  <Social value='@github' gridPosition='md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3'>
    <IconCompany />
  </Social>
</div>
