---
import IconCompany from '../icons/IconCompany.astro';
import IconLocation from '../icons/IconLocation.astro';
import IconTwitter from '../icons/IconTwitter.astro';
import IconWebsite from '../icons/IconWebsite.astro';
import Social from './Social.astro';
---

<div class='flex flex-col items-start gap-4 self-stretch'>
  <Social value='San Francisco'>
    <IconLocation />
  </Social>
  <Social value='https://github.blog'>
    <IconWebsite />
  </Social>
  <Social value=''>
    <IconTwitter />
  </Social>
  <Social value='@github'>
    <IconCompany />
  </Social>
</div>
