---
import Statistic from './Statistic.astro';
---

<div
  class='flex items-center justify-between self-stretch rounded-[10px] bg-light-silver px-3.5 py-[18px] md:px-8'
>
  <Statistic title='Repos' value='8' />
  <Statistic title='Followers' value='3938' />
  <Statistic title='Following' value='9' />
</div>
