---
import Info from './Info.astro';
import Socials from './Socials.astro';
import Statistics from './Statistics.astro';
---

<div
  class='flex flex-col items-start gap-6 self-stretch rounded-2xl bg-light-white px-6 pb-12 pt-8 shadow-[0px_16px_30px_-10px_rgba(70,96,187,0.20)] md:gap-8 md:p-10 2xl:flex-row 2xl:gap-9 2xl:p-12'
>
  <img
    id='avatar_img_desktop'
    src='https://avatars.githubusercontent.com/u/9919?v=4'
    alt='profile-picture'
    class='hidden h-[70px] w-[70px] rounded-full md:h-[117px] md:w-[117px] 2xl:flex'
  />
  <div class='contents 2xl:flex 2xl:flex-1 2xl:flex-col 2xl:gap-8'>
    <Info />
    <Statistics />
    <Socials />
  </div>
</div>
